.foodsss{
   text-align: center;
   
   min-height: 100vh;
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.danger{
    background-color: rgb(194, 201, 100);
    border-radius: 12px;
    
    }
    .recipess{
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
    }
    