*{
    margin: 0%;
}
.hh{
    text-align: center;
    background-image: url("https://images.pexels.com/photos/674574/pexels-photo-674574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.danger{
background-color: rgb(194, 201, 100);
border-radius: 12px;

}

    h5 {
        text-shadow: 2px 2px 8px #FF0000;
      }

      .serif {
        font-family: "Times New Roman", Times, serif;
      }
